# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.venv/
venv/

# Output & Log files
ip_result.txt
warp_result.txt
*.log
result_*.csv
temp_ips_*.txt
config.json
fhs-install-singbox/config.json

