[Unit]
Description=Clash & Sing-box Subscription Transformer & Web Daemon
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/bin/clash-singbox-sub-manager
ExecStart=/usr/bin/python3 /usr/local/bin/clash-singbox-sub-manager/main.py start
Restart=always
RestartSec=5
TimeoutStopSec=3s
KillMode=mixed
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
